
@{
    ViewBag.Title = "About";
}
    <div class="about-body">
        <div class="contain">
            <div class="section1">
                <h1>About Our Insurance</h1>
                <p>
                    At <strong>State</strong> we’ve been helping New Zealanders with their insurance for more than 100 years. Today we manage around 900,000 policies for more than 400,000 Kiwis.
                    In that time, we’ve worked hard to build up a pretty good understanding of New Zealanders’ insurance needs.
                </p>
                <br />
                <p>
                    What we’ve found is that people tend to think about insurance in terms of houses, cars and other physical objects, but we all know that our most precious things are our families, and perhaps our photographs or family heirlooms.
                    That’s why we want to find ways to help protect the things that are important to you.
                </p>
                <br />
                <p>
                    This is where we try to set ourselves apart. We run our business with you – our customer – at the centre of everything we do. Whether we’re providing you with protection for your most prized possessions or we’re supporting the local community, we pride ourselves on the way we go about doing business.
                    This is also true of the way we do things inside State, and you can find out more about our inner workings below.
                </p>
            </div>
            <div class="section2">
                <h4>We're part of IAG</h4>
                <p>
                    State is a business division of IAG New Zealand Limited (IAG).
                    As a market leader, IAG is there for customers today, and plans for the future so we can help make your world a safer place.
                </p>
            </div>
            <div class="section3">

                <h4>Financial Strength Rating and Solvency Margin</h4>
                <p>State is a business division of IAG New Zealand Limited (IAG). IAG has received a financial strength rating of AA- from Standard & Poor’s (Australia) Pty Ltd, an approved rating agency. </p>
                <br />
                <p>A rating of AA- means IAG has a ‘very strong’ claims-paying ability, as you can see in the scale below. </p>
                <br />
                <table>
                    <tbody>
                        <tr>
                            <td width="30%">AAA</td>
                            <td>(Extremely Strong)</td>
                        </tr>
                        <tr>
                            <td>AA</td>
                            <td>(Very Strong)</td>
                        </tr>
                        <tr>
                            <td>A</td>
                            <td>(Strong)</td>
                        </tr>
                        <tr>
                            <td>BBB</td>
                            <td>(Good)</td>
                        </tr>
                        <tr>
                            <td>BB</td>
                            <td>(Marginal)</td>
                        </tr>
                        <tr>
                            <td>B</td>
                            <td>(Weak)</td>
                        </tr>
                        <tr>
                            <td>CCC</td>
                            <td>(Very Weak)</td>
                        </tr>
                        <tr>
                            <td>CC</td>
                            <td>(Extremely weak)</td>
                        </tr>
                        <tr>
                            <td>SD</td>
                            <td>(Selective Default)</td>
                        </tr>
                        <tr>
                            <td>D</td>
                            <td>(Default)</td>
                        </tr>
                        <tr>
                            <td>R</td>
                            <td>(Regulatory supervision)</td>
                        </tr>
                        <tr>
                            <td>NR</td>
                            <td>(Not Rated)</td>
                        </tr>
                    </tbody>
                </table>
                <p>The ratings from 'AA' to 'CCC' may be modified by the addition of a plus (+) or minus (-) sign to show relative standing within the major rating categories. </p>
                <p>The rating scale above is in summary form. A full description of this rating scale can be obtained from standardandpoors.com. </p>
            </div>
            <div class="section4">
                <h3>Solvency margin</h3>
                <p>
                    In its Half-Yearly Solvency Return filed with the Reserve Bank of New Zealand, IAG New Zealand Limited had a Solvency Margin as at 31 December 2019 as follows:
                </p>
                <p>
                </p><table width="100%">
                    <tbody>
                        <tr>
                            <td width="50%">
                                &nbsp;

                            </td>
                            <td>
                                <strong>
                                    $m
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Actual Solvency Capital
                            </td>
                            <td>
                                578.9
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Minimum Solvency Capital
                            </td>
                            <td>
                                360.8
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Solvency Margin
                            </td>
                            <td>
                                218.1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Solvency Ratio
                            </td>
                            <td>
                                160.4%
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p></p>

            </div>
            <div class="section5">
                <h3>Insurance Council of New Zealand</h3>
                <p>
                    State is a member of the Insurance Council of New Zealand (ICNZ), an industry organisation which represents fire and
                    general insurers in New Zealand.
                </p>
                <p>
                    As an ICNZ member, State abides by the <a href="https://www.icnz.org.nz/fair-insurance-code/about-the-code/">ICNZ fair insurance code</a>.
                </p>
                <p>
                    <img src="~/Content/image/fair-insurance-code.jpg" style="width:235px" ,height="240px">
                </p>
                <p>
                    Additional information, including consumer advice about insurance, is available on the <a href="http://www.icnz.org.nz/">
                        Insurance Council of New Zealand
                        website
                    </a>.
                </p>
            </div>
        </div>
        <div class="next-contain">
            <div id="side-bar" class="about-page-side-bar col-xs-12 col-sm-4 default-sticky-top">
                <div>
                    <div class="row">
                        <div class="col-xs-2 custom-padding-9">
                            <img src="~/Content/image/ico-black-about.png" alt="">
                        </div>
                        <div class="col-xs-10">
                            <h4>About State</h4>
                            <a title="A full QFE disclosure statement can be found here" href="/qfe-disclosure">QFE Disclosure Statement</a>
                            <a title="See why we're an award-winning insurer" href="/why-state">Why State?</a>
                            <a title="Glossary of insurance terms" href="/about/glossary">Glossary</a>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 custom-padding-9">
                            <img src="~/Content/image/ico-black-growth.png" alt="">
                        </div>
                        <div class="col-xs-10">
                            <h4>Leading the way</h4>
                            <strong>
                                Proven track record
                            </strong>
                            <p>
                                We've been providing New Zealanders with an extensive range of personal and business insurance for over 100 years.
                            </p>
                            <strong>
                                Our ability to pay your claim
                            </strong>
                            <p>
                                Our AA- rating from Standard &amp; Poor's (Australia) Pty Ltd means we have a 'Very Strong' claims paying ability.
                            </p>
                            <strong>
                                Business sustainability
                            </strong>
                            <p>
                                We believe that addressing social and environmental performance, as well as our financial performance, is simply
                                good
                                business.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>