
@{
    ViewBag.Title = "carinformation";
    Layout = "~/Views/Shared/_systemLayout.cshtml";
}

<div class="car-top animated bounceInRight ">
    <h1 id="title-banner">
        Revolutionary  <br />
        Motorcycle
        <br />
        Insurance
    </h1>
</div>
<div class="car-contain">
    <div class="car-table">
        <h1 id="top">Our car insurance information</h1>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Comprehensive</th>
                    <th scope="col">Third Party, Fire and Theft</th>
                    <th scope="col">Third Party</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Multi policy discount</th>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                </tr>
                <tr>
                    <th>No Claim Bonus</th>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                </tr>
                <tr>
                    <th>Legal liability of up to $20,000,000</th>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                </tr>
                <tr>
                    <th>Vehicle removal</th>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                </tr>
                <tr>
                    <th>Fire Damage</th>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Red_X.svg.png" alt="Greencross" /></td>
                </tr>
                <tr>
                    <th>Theft</th>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Red_X.svg.png" alt="Greencross" /></td>
                </tr>
                <tr>
                    <th>Approved repair work guarantee</th>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Red_X.svg.png" alt="Greencross" /></td>
                </tr>
                <tr>
                    <th>Accidental loss or damage to your car</th>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Red_X.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Red_X.svg.png" alt="Greencross" /></td>
                </tr>
                <tr>
                    <th>Transport home</th>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Red_X.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Red_X.svg.png" alt="Greencross" /></td>
                </tr>
                <tr>
                    <th>Replacement vehicle</th>
                    <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Red_X.svg.png" alt="Greencross" /></td>
                    <td><img src="~/Content/image/1200px-Red_X.svg.png" alt="Greencross" /></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">
                        <a href="/Insurance/Register" class="btn btn-info" title="State business insurance" alt="Find a business insurance solution that works for you" )">
                            Get Quote
                        </a>
                    </th>
                    <th scope="col">
                        <a href="$" class="btn btn-info" title="State business insurance" alt="Find a business insurance solution that works for you" )">
                            Get Quote
                        </a>
                    </th>
                    <th scope="col">
                        <a href="$" class="btn btn-info" title="State business insurance" alt="Find a business insurance solution that works for you" )">
                            Get Quote
                        </a>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="car-img">
        <img src="~/Content/image/Car-Maintenance.jpg" alt="Alternate Text" class="animated bounceInRight" />
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</div>
