
@{
    ViewBag.Title = "motorinformation";
    Layout = "~/Views/Shared/_systemLayout.cshtml";
}
<div class="motor-top">
    <h1>
        Revolutionary  <br />
        Motorcycle
        <br />
        Insurance
    </h1>
</div>
<div class="motor-table">
    <h1 id="top">Our car insurance information</h1>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Comprehensive</th>
                <th scope="col">Third Party, Fire and Theft</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Multi policy discount</th>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
            </tr>
            <tr>
                <th>Personal liability protection for property damage up to $20 million</th>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
            </tr>
            <tr>
                <th>Excess protection against uninsured drivers who meet policy termst</th>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
            </tr>
            <tr>
                <th>Road clearing and towing expenses</th>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
            </tr>
            <tr>
                <th>Sudden and accidental damage to your motorbike</th>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
            </tr>
            <tr>
                <th>Certain medical expenses for injuries sustained</th>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
            </tr>
            <tr>
                <th>Up to $300 to replace lost or stolen keys</th>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
            </tr>
            <tr>
                <th>Accidental death and permanent disablement benefit</th>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
            </tr>
            <tr>
                <th>Replacement or repair of your motorbike</th>
                <td><img src="~/Content/image/1200px-Green_tick.svg.png" alt="Greencross" /></td>
                <td><img src="~/Content/image/1200px-Red_X.svg.png" alt="Greencross" /></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">
                    <a href="#" class="btn btn-info" title="State business insurance" alt="Find a business insurance solution that works for you" )">
                        Get Quote
                    </a>
                </th>
                <th scope="col">
                    <a href="#" class="btn btn-info" title="State business insurance" alt="Find a business insurance solution that works for you" )">
                        Get Quote
                    </a>
                </th>
            </tr>
        </thead>
    </table>
</div>
