
@{
    ViewBag.Title = "Testing";
    Layout = "~/Views/Shared/_systemLayout.cshtml";
}

<h2>Testing</h2>

<img src="https://mdbootstrap.com/img/logo/mdb-transparent-250px.png" 
     class="animated slideInDown" alt="Transparent MDB Logo" id="animated-img1">